<div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="mb-3">Add Contact</h1>
      <a href="./contacts" class="form-link">Back to Contacts</a>
    </div>  
    <div class="panel-body">
      <div class="btn-container">
        <form id="addContact" (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="fieldset-add">
                <div class="form-section">
                    <div class="form-group">
                        <label for="fname">First Name <span class="required">*</span></label>
                        <input type="text" 
                               class="form-control required" 
                               id="fname" 
                               name="fname"
                               [ngModel]="contact?.fname" 
                               #fnameInput="ngModel"
                               required>
                    </div>

                    <div class="form-group">
                        <label for="lname">Last Name</label>
                        <input type="text" 
                               id="lname"
                               class="form-control"   
                               name="lname"
                               [ngModel]="contact?.lname" 
                               #lnameInput="ngModel">
                    </div>
                </div>

                <div class="form-group">
                    <label for="organization">Organization</label><br>
                    <small>Organization they work or volunteer for</small>
                    <select id="organizationId" 
                            class="form-control organizationSelectList" 
                            name="organizationId" 
                            [ngModel]="contact?.organizationId"
                            #organizationIdInput="ngModel"
                            required>
                            <option value="">-</option>
                    </select>  
                    <div class="form-link-container">
                        <small><a href="add-organization" class="form-link">Don't see the organization you need?</a></small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="job-title">Job Title</label><br>
                    <small>Position in their organization or title at work</small>
                    <input type="text"
                           id="jobTitle"
                           class="form-control" 
                           name="job"
                           [ngModel]="contact?.job"
                           #jobInput="ngModel">
                </div>

                <div class="form-group">
                    <label for="country">Home Country  <span class="required">*</span></label><br>
                    <small>Where they are primarily from</small><br>
                    <select id="homeCountry"
                            class="input-country"
                            name="country"
                            [ngModel]="contact?.country"
                            #countryInput="ngModel"
                            required>
                            <option value="">--</option>
                    </select>            
                </div>
            </div>

            <div class="fieldset-add">
                <div class="fieldset-title">
                    <h4>Contact Information</h4>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" 
                           id="email"
                           class="form-control"  
                           name="email"
                           [ngModel]="contact?.email"
                           #emailInput="ngModel">
                </div>

                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="tel" 
                           class="form-control" 
                           id="phone" 
                           #numberInput="ngModel"
                           name="phone"
                           [ngModel]="contact?.phone">
                </div>
            </div>

            <div class="fieldset-add">
                <div class="form-group">
                    <label for="details">Details</label><br>
                    <small>Any other important information about this contact</small>
                    <textarea class="form-control" 
                              id="details" 
                              rows="3" 
                              cols="50" 
                              #detailsInput="ngModel"
                              [ngModel]="contact?.details"
                              name="details"
                              required></textarea>
                </div>
            </div>

            <div class="submit-buttons">
                <button type="button" class="btn btn-primary" (click)="onSubmit(f)" [disabled]="f.invalid"> Save </button>
                <button type="button" class="btn btn-warning"> Save + Close </button>
            </div>
        </form>
      </div>
    </div>
</div>