<div class="contact-detail-link">
    <a class="pointer" href="/contact-detail" (click)="onSelected()">
        <div class="contact-item">
            <h3 class="contact-name">{{ contact.contactFirstName }} {{ contact.contactLastName }}</h3>
            <div class="contact-details">
                <p class="contact-phone">{{ contact.contactPhone }}</p>
                <p class="contact-email">{{ contact.contactEmail }}</p>
                <p class="contact-country">{{ contact.contactCountry }}</p>
            </div>
        </div>
    </a>
</div>