<div class="contact-detail-link">
    <a class="pointer" href="/add-organization">
        <div class="contact-item">
            <h3 class="contact-name">{{ organization.organizationName }}</h3>
            <div class="contact-details">
                <p class="contact-phone">{{ organization.organizationCountry }}</p>
                <p class="contact-email">{{ organization.organizationCity }}</p>
                <p class="contact-country">{{ organization.organizationPhone }}</p>
            </div>
        </div>
    </a>
</div>