<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="mb-3">Organization Edit</h1>
        <a href="/organizations">Back to Organizations</a>
    </div>
    <div class="panel-body">
        <div class="btn-container">
            <form id="organizationEdit" (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="fieldset-add">
                    <div class="form-group">
                        <label for="name">Organization Name <span class="required">*</span></label>
                        <input type="text" 
                               class="form-control" 
                               id="name" 
                               name="name"
                               [ngModel]="organization?.name"
                               #nameInput="ngModel"
                               required>
                    </div>

                    <div class="form-group">
                        <label for="type">Organization Type <span class="required">*</span></label><br>
                        <select id="type" 
                                class="form-control" 
                                name="type"
                                [ngModel]="organization?.type"  
                                #typeInput="ngModel"
                                required>
                            <option value="">Select an Organization Type</option>
                            <option value="primarySchool">Primary School</option>
                            <option value="secondarySchool">Secondary School</option>
                            <option value="localGovernment">Local Government</option>
                            <option value="nonProfit">Non Profit</option>
                            <option value="prison">Prison</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="contacts">Contact</label><br>
                        <select type="text" 
                                class="form-control contactSelectList" 
                                id="type" 
                                name="contactId"
                               [ngModel]="organization?.contactId"
                               #contactIdInput="ngModel"
                               required></select> 
                    </div>
                </div>

                <div class="fieldset-add">
                    <div class="fieldset-title">
                        <h4>Organization Location</h4>
                    </div>
                    <div class="form-section">
                        <div class="form-group">
                            <label for="country"> Country  <span class="required">*</span></label><br>
                            <select id="homeCountry"
                                    class="input-country form-control"
                                    name="country"
                                    [ngModel]="organization?.country"
                                    #countryInput="ngModel"
                                    required>
                                    <option value="">-</option>
                            </select>            
                        </div>

                        <div class="form-group">
                            <label for="city">City</label><br>
                            <input type="text" 
                                   class="form-control" 
                                   id="country" 
                                   name="city"
                                   [ngModel]="organization?.city"
                                   #cityInput="ngModel"
                                   required>
                        </div>
                       
                    </div>
                </div>

                <div class="fieldset-add">
                    <div class="fieldset-title">
                        <h4>Contact Information</h4>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label><br>
                        <input type="text" 
                               class="form-control" 
                               id="phone" 
                               name="phone"
                               [ngModel]="organization?.phone"
                               #phoneInput="ngModel">
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label><br>
                        <input type="email" 
                               class="form-control" 
                               id="email" 
                               name="email"
                               [ngModel]="organization?.email"
                               #emailInput="ngModel">
                    </div>
                </div>

                <div class="fieldset-add">
                    <div class="form-group">
                        <label for="description">More Details</label><br>
                        <textarea class="form-control" 
                                  id="description" 
                                  rows="3" 
                                  cols="50" 
                                  name="details"
                                  [ngModel]="organization?.details"
                                  #detailsInput="ngModel"
                                  required></textarea>
                    </div>
                </div>
                <div class="submit-buttons">
                    <button type="button" class="btn btn-primary" (click)="onSubmit(f)"> Save </button>
                    <button type="button" class="btn btn-warning" (click)="onDelete(this.organization.id)"> Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>