
<main>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="mb-3">Contacts</h1>
      
      <div class="input-group">

        <div class="dropdown">
          <button class="dropbtn">Sort By</button>
          <div id="myDropdown" class="dropdown-content">
            <a href="#">All</a>
            <a href="#">Country</a>
            <a href="#">Date</a>
          </div>
        </div>

          <button class="btn btn-success">Search</button>
        </div>
    </div>

    <div class="panel-body">
      
    </div>
    <div class="panel panel-footer">
      <div>
        <button class="btn btn-primary" routerLink="/add-contact" routerLinkActive="active">Add a New Contact</button>
      </div>
    </div>
  </div>
  </main>