<div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="mb-3">Contact Details</h1>
      <a href="./contacts" class="form-link">Back to Contacts</a>
    </div>  
    <div class="panel-body">
      <div class="btn-container">

        <form>
            <div class="fieldset">
                <div class="form-section">
                    <div class="form-group">
                        <label for="fname">First Name</label>
                        <input type="text" class="form-control" style="cursor: default" id="fname" placeholder="" value="{{ contact.fname }}" disabled #fnameInput>
                    </div>

                    <div class="form-group">
                        <label for="lname">Last Name</label>
                        <input type="text" class="form-control" style="cursor: default" id="lname" placeholder="" value="{{ contact.lname }}" disabled #lnameInput>
                    </div>
                </div>

                <div class="form-group">
                    <label for="organization">Organization</label><br>
                    <input id="type" class="form-control" name="type" style="cursor: default" required value="{{ contact.organizationId }}" disabled #typeInput> 
                </div>

                <div class="form-group">
                    <label for="job-title">Job Title</label><br>
                    <input type="text" class="form-control" id="job-title" style="cursor: default" placeholder="" value="{{ contact.job }}" disabled #jobInput>
                </div>
                <div class="form-group">
                    <label for="country">Home City</label><br>
                    <input type="text" class="form-control" id="country" style="cursor: default" placeholder="" value="{{ contact.city }}" disabled #lnameInput>
                </div>
                <div class="form-group">
                    <label for="country">Home Country</label><br>
                    <input type="text" class="form-control" id="country" style="cursor: default" placeholder="" value="{{ contact.country }}" disabled #lnameInput>
                </div>
            </div>

            <div class="fieldset">
                <div class="fieldset-title">
                    <h4>Contact Information</h4>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" style="cursor: default" placeholder="" value="{{ contact.email }}" disabled #emailInput>
                </div>

                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="tel" class="form-control" id="phone" style="cursor: default" placeholder="" value="{{ contact.phone }}" disabled #numberInput>
                </div>
            </div>

            <div class="fieldset">
                <div class="form-group">
                    <label for="details">Details</label><br>
                    <textarea class="form-control" id="details" style="cursor: default" rows="3" cols="50" value="{{ contact.details }}" disabled #detailsInput ></textarea>
                </div>
            </div>

            <!-- <div class="form-group">
                <label for="photos">Photo</label>
                <input type="file" id="photos" accept ="image/*">
            </div><br> -->

            <div class="submit-buttons">
                <button type="button" routerLink="edit" class="btn btn-primary">Edit</button>
                <a href="./contacts"><button type="button" class="btn btn-primary">Delete</button></a>
            </div>
        </form>
      </div>
    </div>
</div>
