<div class="contact-detail-link">
    <a class="pointer" href="/add-project">
        <div class="contact-item">
            <h3 class="contact-name"><b>{{ project.projectName }}</b>,  {{ project.projectOrganization }}</h3>
            <div class="contact-details">
                <p class="contact-phone">{{ project.projectDate }}</p>
                <p class="contact-email">{{ project.projectEquipment }}</p>
                <p class="contact-country">{{ project.projectContacts }}</p>
            </div>
        </div>
    </a>
</div>