<app-header></app-header>

<main>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="mb-3">Projects</h1>
      
      <div class="input-group">
        <div class="btn-group-justified">
          <button type="button" class="btn btn-success">All</button>
          <button class="btn btn-success">By Country</button>
          <button class="btn btn-success">Search</button>
        </div>
      </div>
    </div>  
    <div class="panel-body">
      
    </div>
    <div class="panel panel-footer">
      <div>
        <button class="btn btn-primary">+ Project</button>
      </div>
    </div>
  </div>
  </main>
