<div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="mb-3">Contact Edit</h1>
      <a href="./contacts" class="form-link">Back to Contacts</a>
    </div>  
    <div class="panel-body">
      <div class="btn-container">

        <form>
            <div class="fieldset">
                <div class="form-section">
                    <div class="form-group">
                        <label for="fname">First Name <span class="required">*</span></label>
                        <input type="text" class="form-control" style="cursor: default" id="fname" placeholder="" value="{{ contact.fname }}" required #fnameInput>
                    </div>

                    <div class="form-group">
                        <label for="lname">Last Name</label>
                        <input type="text" class="form-control" style="cursor: default" id="lname" placeholder="" value="{{ contact.lname }}" #lnameInput>
                    </div>
                </div>

                <div class="form-group">
                    <label for="organization">Organization</label><br>
                    <input id="type" class="form-control" name="type" style="cursor: default" required value="{{ contact.organizationId }}"> 
                </div>

                <div class="form-group">
                    <label for="job-title">Job Title</label><br>
                    <input type="text" class="form-control" id="job-title" style="cursor: default" placeholder="" value="{{ contact.job }}" #jobInput>
                </div>
                <div class="form-group">
                    <label for="country">Home Country  <span class="required">*</span></label><br>
                    <input type="text" class="form-control" id="country" style="cursor: default" placeholder="" value="{{ contact.country }}" #lnameInput>
                </div>
            </div>

            <div class="fieldset" style="margin-top:20px">
                <div class="fieldset-edit-title">
                    <h4>Contact Information</h4>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" style="cursor: default" placeholder="" value="{{ contact.email }}" #emailInput>
                </div>

                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="tel" class="form-control" id="phone" style="cursor: default" placeholder="" value="{{ contact.phone }}" #numberInput>
                </div>
            </div>

            <div class="fieldset">
                <div class="form-group">
                    <label for="details">Details</label><br>
                    <textarea class="form-control" id="details" style="cursor: default" rows="3" cols="50" value="{{ contact.details }}" #detailsInput ></textarea>
                </div>
            </div>

            <!-- <div class="form-group">
                <label for="photos">Photo</label>
                <input type="file" id="photos" accept ="image/*">
            </div><br> -->

            <div class="submit-buttons">
                <button type="button" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-warning">Save + Exit</button>
            </div>
        </form>
      </div>
    </div>
</div>