<h3 class="notes-header">Notes</h3>
<div class="note-list">
    <p class="alert alert-warning" role="alert" *ngIf="this.isEmpty == true">No Notes Available</p>
    <div *ngIf="notes.length >= 1">
      <app-note-item *ngFor="let noteEl of notes" [note]="noteEl"></app-note-item>
  </div>
</div>
<form class="add-note" (ngSubmit)="addNote(f)" #f="ngForm">
    <textarea name="text" 
              id="contactNote" 
              style="width:100%;" 
              class="add-note-textarea" 
              rows="3"
              #textInput="ngModel"
              [ngModel]="note?.text"
              required></textarea>
    <button class="add-note btn btn-primary edit-button" (click)="addNote(f)" [disabled]="f.invalid">Add Note</button>
</form>
