<div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="mb-3">Organizations</h1>

      <div class="input-group">

        <ul class="nav navbar-nav">
          <li class="dropdown" appDropdown>
            <a class="dropdown-toggle" role="button">Sort By <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a class="default">All</a></li>
              <li class="default"><a>By Country</a></li>
              <li class="default"><a>By Contact</a></li>
              <li class="default"><a>By Date</a></li>
              <li class="default"><a>By Name</a></li>
            </ul>
          </li>
        </ul>
        <div class="search-container">
          <form action="/action_page.php" class="pull-right">
            <input class="search-bar-text" type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
    </div>

    <div class="panel-body">
        <app-organization-item *ngFor="let organizationEl of organizations" [organization]="organizationEl"></app-organization-item>
    </div>
    <div class="panel panel-footer">
      <div>
        <button class="btn btn-primary" routerLink="add-organization" routerLinkActive="active">Add an Organization </button>
      </div>
    </div>
  </div>