<div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="mb-3">Contacts</h1>

      <div class="input-group">

        <ul class="nav navbar-nav">
          <li class="dropdown" appDropdown>
            <a class="dropdown-toggle" role="button">Sort By <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a class="default">All</a></li>
              <li class="default"><a>By Country</a></li>
              <li class="default"><a>By Date</a></li>
              <li class="default"><a>By Name</a></li>
            </ul>
          </li>
        </ul>
        <div class="search-container">
          <form action="/action_page.php" class="pull-right">
            <input class="search-bar-text" type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
    </div>

    <div class="panel-body">
        <p class="alert alert-warning" role="alert" *ngIf="this.isEmpty == true">No Contacts Available</p>
        <p class="alert alert-warning" role="alert" *ngIf="this.isFetching == true">Loading</p>
        <!-- <p class="alert alert-warning" role="alert" *ngIf="this.error.length > 0">{{ error.message }}</p> -->
        <div *ngIf="contacts.length >= 1">
          <app-contact-item *ngFor="let contactEl of contacts" [contact]="contactEl"></app-contact-item>
      </div>
    </div>
    <div class="example-button-container">
      <button mat-fab color="warn" class="add-record-btn" routerLink="add-contact" aria-label="Example icon button with a home icon">
        <mat-icon>person_add</mat-icon>
      </button>
  </div>