<div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="mb-3">Contacts</h1>

      <div class="input-group">

        <form class="nav navbar-nav">
          <li class="dropdown" appDropdown>
            <a class="dropdown-toggle" role="button">Sort By <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a class="default" id="sortby-all">All</a></li>
              <li><a class="default" id="sortby-country">By Country</a></li>
              <li><a class="default" id="sortby-date">By Date</a></li>
              <li><a class="default" id="sortby-name">By Name</a></li>
            </ul>
          </li>
        </form>
        <div class="search-container">
          <form action="/action_page.php" class="pull-right">
            <input class="search-bar-text" type="text" placeholder="Search.." (keyup)="search(searchBox.value)" name="searchbox" [(ngModel)]="search" value="" #searchBox>
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
    </div>

    <div class="panel-body">
        <p class="alert alert-warning" role="alert" *ngIf="this.isEmpty == true">No Contacts Available</p>
        <div *ngIf="contacts.length >= 1">
          <app-contact-item *ngFor="let contactEl of contacts |  contactsFilter: search: 'fname';" [contact]="contactEl"></app-contact-item>
      </div>
    </div>
</div>
  <div class="example-button-container">
    <button mat-fab color="warn" class="add-record-btn" routerLink="add-contact" aria-label="Example icon button with a home icon">
      <mat-icon>person_add</mat-icon>
    </button>
  </div>