<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="mb-3">Playgrounds Everywhere</h1>
  </div>
  <div class="panel-body home-body">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Recently Added Contacts</h3>
      </div>
      <div class="panel-body">
        <div class="upcoming-project-item">
          <h5>Kayleigh Hansen</h5>
        </div>
        <div class="upcoming-project-item">
          <h5>Zayne</h5>
        </div>
      </div>
      <div class="panel-footer">
        <button>Add new Upcoming Project</button>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Upcoming Projects</h3>
      </div>
      <div class="panel-body">
        <div class="upcoming-project-item">
          <h5>White House Swing</h5>
        </div>
      </div>
      <div class="panel-footer">
        <button>Add new Upcoming Project</button>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Planning Tasks</h3>
      </div>
      <div class="panel-body">
        <div class="planning-task-item">
          <h5>Buy materials for the white house swings</h5>
        </div>
      </div>
      <div class="panel-footer">
        <button>Add new Planning Task</button>
      </div>
    </div>
  </div>
</div>