<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="mb-3">Playgrounds Everywhere</h1>
  </div>
  <div class="panel-body home-body">

    <mat-tab-group dynamicHeight>
      <mat-tab label="Recently Added Contacts">
        <div class="example-large-box mat-elevation-z4">
          Recently Added Contacts
        </div>
      </mat-tab>
      <mat-tab label="Recently Added Projects">
        <div class="example-large-box mat-elevation-z4">
          Recently Added Projects
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>