<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="mb-3">Playgrounds Everywhere</h1>
  </div>
  <div class="panel-body home-body">
    <div class="recently-added home-panel">
      <h3>Recently Added</h3>
      <div class="recently-added-container">
        <div class="recently-added-item-div">
          <a class="recently-added-item">
            <p class="recently-added-h5">A Person</p>
            <p class="recently-added-h5">Country</p>
          </a>
        </div>
      </div>
    </div>
    <div class="upcoming-projects home-panel">
      <h3>Upcoming Projects</h3>
      <mat-icon> work</mat-icon>
    </div>
    <div class="checklist home-panel">
      <h3>Checklist</h3>
      <mat-icon> check</mat-icon>
    </div>
  </div>
</div>