<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="mb-3">Edit Project</h1>
        <a href="./projects" class="form-link"><mat-icon>keyboard_arrow_left</mat-icon>Back to Contacts</a>
    </div>
    <div class="panel-body">
        <div class="btn-container">
            <form id="add-project" (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="">
                    <div class="fieldset-title">
                        <h4>Project Details</h4>
                        <small class="required explanation">* required fields *</small>
                    </div>
                    <div class="form-group">
                        <label for="name">Project Name <span class="required">*</span></label>
                        <input type="text" 
                               class="form-control" 
                               id="name" 
                               name="name"
                               [ngModel]="project?.name"
                               required 
                               #nameInput="ngModel">
                    </div>

                    <div class="form-group">
                        <label for="contacts">Contacts Assisted</label><br>
                        <small>Contacts that assisted this project</small>
                        <select id="type" 
                                class="form-control contactSelectList" 
                                id="contact"
                                name="contact"
                                [ngModel]="project?.contactId"
                                #typeInput="ngModel">
                            <option value="-">--</option>

                        </select>
                        <div class="form-link-container">
                            <small><a href="add-contact" class="form-link">Don't see the contact you need?</a></small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="contacts">Organizations Assisted</label><br>
                        <small>Organizations that assisted this project</small>
                        <select id="organizationId" 
                                class="form-control organizationSelectList" 
                                name="organization"
                                [ngModel]="project?.organizationId"
                                #typeInput="ngModel">
                            <option value="-">--</option>
                        </select>
                        <div class="form-link-container">
                            <small><a href="add-contact" class="form-link">Don't see the organization you need?</a></small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="price">Total Project Price</label><br>
                        <small>Price in USD</small>
                        <input type="number" 
                               min="0" 
                               step="any" 
                               class="form-control" 
                               id="price" 
                               name="price"
                               [ngModel]="project?.price"
                               #priceInput ="ngModel"
                               >
                    </div>
                    <div class="form-group">
                        <label for="details">Project Details <span class="required">*</span></label>
                        <textarea class="form-control" 
                                  id="details" 
                                  rows="3" 
                                  cols="50" 
                                  name="details"
                                  [ngModel]="project?.details"
                                  #detailsInput="ngModel"
                                  required></textarea>
                    </div>
                </div>
                <div class="">
                    <div class="fieldset-title">
                        <h4>Project Location</h4>
                    </div>
                    <div class="form-group">
                        <label for="name">Project Date <span class="required">*</span></label>
                        <input type="date" 
                               class="form-control" 
                               id="name" 
                               placeholder="" 
                               required 
                               name="date"
                               [ngModel]="project?.date"
                               #dateInput="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="name">Location <span class="required">*</span></label>
                        <input type="text" 
                               class="form-control" 
                               id="location" 
                               placeholder="" 
                               name="location"
                               [ngModel]="project?.location"
                               #locationInput="ngModel">
                    </div>
                    <div class="form-section">
                        <div class="form-group">
                            <label for="country">Country <span class="required">*</span></label><br>
                            <select class="input-country" id="input-country" required #countryInput>
                                <option value="" selected>--</option>
                                
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" 
                                   class="form-control" 
                                   id="city" 
                                   name="city"
                                   [ngModel]="project?.city"
                                   #cityInput="ngModel">
                        </div>
                    </div>

                   
                </div>
                <div class="">
                    <div class="fieldset-title">
                        <h4>Project Results</h4>
                    </div>
                    <div class="form-group">
                        <label for="equipment">Equipment Built</label>
                        <div class="quantity-input-container">
                            <div class="quantity-input">
                                <div>
                                    <small>Quantity</small>
                                    <input type="number" 
                                           class="form-control" 
                                           id="equipment-quantity" 
                                           placeholder="1"
                                           name="equipmentAmount"
                                           [ngModel]="project?.equipmentAmount"
                                           #equipmentAmountInput="ngModel">
                                </div>
                                <div>
                                    <small>Type</small>
                                    <input type="text" 
                                           class="form-control" 
                                           id="equipment-name"
                                           placeholder="Swingset"
                                           name="equipment"
                                           [ngModel]="project?.equipment"
                                           #equipmentInput="ngModel"
                                           >
                                </div>
                                <button class="add-input-item" 
                                        id="add-equipment" 
                                        type="button">+</button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="equipment">Items Donated</label>
                        <div class="donation-input-container">
                            <div class="quantity-input">
                                <div>
                                    <small>Quantity</small>
                                    <input type="text" 
                                           class="form-control" 
                                           id="donation-quantity" 
                                           placeholder="1"
                                           name="donationAmount"
                                           [ngModel]="project?.donationAmount"
                                           #donationAmount="ngModel">
                                </div>
                                <div>
                                    <small>Type</small>
                                    <input type="text" 
                                           class="form-control" 
                                           id="donation-name" 
                                           placeholder="Tablet"
                                           name="donation"
                                           [ngModel]="project?.donation"
                                           #donation="ngModel">
                                </div>
                                <button class="add-input-item" id="add-donation" type="button">+</button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="results">Project Results <span class="required">*</span></label>
                        <textarea class="form-control" 
                                  id="results" 
                                  rows="3" 
                                  cols="50"
                                  name="results"
                                  [ngModel]="project?.results"
                                  #resultsInput="ngModel" 
                                  required></textarea>
                    </div>
                </div>

                <div class="submit-buttons">
                    <button type="button" class="btn btn-primary" (click)="onSubmit(f)"> Save </button>
                    <button type="button" class="btn btn-warning" (click)="onDelete(this.organization.id)"> Delete</button>
                </div>           
        </form>
        </div>
    </div>
</div>